body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root{
  --default-bg-color: #f5f6fb;
  --default-text-color: #2f3f56;
}

h3{
  margin: 0;
}
.app-container{
  height: 100vh;
  width: 100vw;
  background-color: var(--default-bg-color);
  color: var(--default-text-color);
}