/*
    Grid formatting from: https://css-tricks.com/a-responsive-grid-layout-with-no-media-queries/
*/

.posts-container {
    margin-left: 10%;
    margin-right: 10%;
}

.posts-grid {
    /*
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    */
    --auto-grid-min-size: 18rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(var(--auto-grid-min-size), 1fr));
    grid-gap: 1rem;
}

/*
@media (max-width: 825px) {
    .posts-grid{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 450px) {
    .posts-grid{
        grid-template-columns: repeat(1, 1fr);
    }

    .posts-grid-item{
        margin: 0;
    }
}
*/